<% provide(:title, 'Error 404') %>
<section class="content">
	<div class="container">   
		<div class="row mar-bot40">
			<div class="col-md-offset-2 col-md-8">
				<p>The page you are looking for does not exist. <a href="<%= root_path %>">Click here</a> to go back to the home page.</p>
			</div>
		</div>
	</div>
</section>