<section id="section-works" class="section appear clearfix">
	<div class="container">
		
		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h2 class="section-heading animated" data-animation="bounceInUp">Events</h2>
					<p>We coordinate a number of premium events spread throughout each season of the year. Check out some images from the lastest events.</p>
				</div>
			</div>
		</div>
			
                <div class="row">
                  <nav id="filter" class="col-md-12 text-center">
                    <ul>
                      <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                      <li><a href="#"  class="btn-theme btn-small" data-filter=".spring" >Spring</a></li>
                      <li ><a href="#" class="btn-theme btn-small" data-filter=".summer">Summer</a></li>
                      <li ><a href="#" class="btn-theme btn-small" data-filter=".fall">Fall</a></li>
                      <li><a href="#"  class="btn-theme btn-small" data-filter=".winter">Winter</a></li>
                    </ul>
                  </nav>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="events-items isotopeWrapper clearfix" id="3">
					  
                        <article class="col-md-4 isotopeItem spring">
							<div class="events-item">
								<img src="assets/events/img1.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">International Swagg 2013</a></h5>
										<a href="assets/events/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem spring">
							<div class="events-item">
								<img src="assets/events/img2.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Lunch Box</a></h5>
										<a href="assets/events/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>
						

                        <article class="col-md-4 isotopeItem winter">
							<div class="events-item">
								<img src="assets/events/img3.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Damage Control Anniversary</a></h5>
										<a href="assets/events/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem summer">
							<div class="events-item">
								<img src="assets/events/img4.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Nuh Lint</a></h5>
										<a href="assets/events/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem summer">
							<div class="events-item">
								<img src="assets/events/img5.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Flossin Clean</a></h5>
										<a href="assets/events/img5.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem spring">
							<div class="events-item">
								<img src="assets/events/img6.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Early Thursdays</a></h5>
										<a href="assets/events/img6.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem spring">
							<div class="events-item">
								<img src="assets/events/img7.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Memorial BBQ</a></h5>
										<a href="assets/events/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem summer">
							<div class="events-item">
								<img src="assets/events/img8.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Labor Day Weekend BBQ</a></h5>
										<a href="assets/events/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>										   
								 </div>
							</div>
                        </article>

                        <article class="col-md-4 isotopeItem summer">
							<div class="events-item">
								<img src="assets/events/img9.jpg" alt="" />
								 <div class="events-desc align-center">
									<div class="event-info">
										<h5><a href="#">Appreciation Party</a></h5>
										<a href="assets/events/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
									 </div>	   
								 </div>
							</div>
                        </article>
                        </div>
                                
					</div>
                             

					</div>
                </div>
		
	</div>
</section>