<section id="section-works" class="section appear clearfix">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h2 class="section-heading animated" data-animation="bounceInUp">The Events</h2>
					<p>We coordinate a number of premium events spread throughout each season of the year. Check out some images from the lastest events.</p>
				</div>
			</div>
		</div> <!-- end section-header -->
			
		<div class="row">
			<nav id="filter" class="col-md-12 text-center">
				<ul>
					<li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
					<li><a href="#"  class="btn-theme btn-small" data-filter=".spring" >Spring</a></li>
					<li ><a href="#" class="btn-theme btn-small" data-filter=".summer">Summer</a></li>
					<li ><a href="#" class="btn-theme btn-small" data-filter=".fall">Fall</a></li>
					<li><a href="#"  class="btn-theme btn-small" data-filter=".winter">Winter</a></li>
				</ul>
			</nav> <!-- end event category nav -->
			<div class="col-md-12">
				<div class="row">
					<div class="events-items isotopeWrapper clearfix" id="3">
						<% if !@events.empty? %>
							<% @events.limit(11).each do |event| %>
								<%= render partial: "events/event", locals: {event: event} %>
							<% end %>
							<article class="col-md-4 isotopeItem">
								<div class="events-item">
									<%= link_to image_tag("LOGO.jpg"), events_path %>
									
									<%= link_to events_path, :class => "events-desc align-center" do %>
										<h3>Click here</h3>
										<h5><i class="fa fa-plus fa-2x"></i></h5>
										<h6>For Older Events</h6>
										<!-- <i class="fa fa-plus fa-2x"></i> -->
									<% end %>
								</div>
							</article>
						<% end %>
					</div> 
				</div>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->
</section>