<section id="section-messages" class="section appear clearfix" style="background-color: #ffcc00; padding-top: 100px;">
  <%= render 'layouts/messages' %>
</section>
<section class="featured" id="featured">
	<div class="container"> 
		<div class="row mar-bot40">
			<div class="col-md-8 col-md-offset-2">
				<div class="align-center">
					<img src="assets/team/logo.png">
					<!-- <h2 class="slogan">Welcome to Amoeba</h2> -->
					<p class="writeup">
						Damage Control is one of the most elite dancehall camps in New York City. We are a family of artists, dancers, DJ's and event planners with a goal set on revolutionizing the dancehall market. Established on January 1st, 2008, we have since made Damage Control one of the most recognizable names in the local Caribbean community with a number of successful musical hits as well as our yearly events.
					</p>	
				</div>
			</div>
		</div>
	</div>
</section>