<section id="section-members" class="section appear clearfix">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h2 class="section-heading animated" data-animation="bounceInUp">The Family</h2>
					<p>Damage Control + Dark-Side</p>
				</div>
			</div>
		</div>

		<div class="row align-center mar-bot40">
			<% @members.each do |member| %>
				<div class="col-md-2">
					<div class="team-member">
						<figure class="member-photo"><%= link_to image_tag(member.photo.url(:small)), fb_path(member.facebook) %></figure>
						<div class="team-detail">
							<h4><%= link_to "#{member.name}", fb_path(member.facebook) %></h4>
							<span><%= member.title %></span>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>