<h2 class="align-center pad-bot30">Shopping Cart</h2>
<p style="text-align: center;">
  There are currently no items in your cart. To add an item to your cart please visit the <%= link_to "shop", shop_path %>.
</p>