<h2 class="align-center pad-bot30">Shopping Cart</h2>
<div class="cart-header row">
	<div class="header-desc col-md-9 col-sm-9 col-xs-8">Product</div>
	<div class="header-qty col-md-1 col-sm-1 col-xs-1">Qty</div>
	<div class="header-price col-md-2 col-sm-2 col-xs-3">Price</div>
</div>