<section class="panel">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-8 col-sm-8">
				<%= render partial: "shared/admin_nav" %>
				<div class="row mar-top25">
					<div class="col-md-12 pad-top40 pad-bot40">
						<%= render partial: "gallery_form" %>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2"></div>
		</div>
	</div>
</section>