/*
#1 = 35A49C
#2 = 79CDC0
*/
$mainLinkColor: #ffcc00;
$secLinkColor: #cc9900;

a {
	color: $mainLinkColor;
}
a:hover {
	color: $secLinkColor;
}

/* menu */
.nav>li>a:hover {
	color: darken(white, 15%);
}

.navbar .navbar-nav > .active > a {
	color: $secLinkColor;
}

/* flexslider */
.flex-control-paging li a {
	background: $mainLinkColor;
}

.flex-direction-nav a:hover{
	background-color:$mainLinkColor;
}

.testimonial span.author a {
	color: $secLinkColor;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: $mainLinkColor;
	box-shadow: 0 0 0 4px $mainLinkColor;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: $mainLinkColor;
	box-shadow: 0 0 0 8px  $secLinkColor;
}


/* events */
.events-item .events-desc{
	background: $mainLinkColor;
}

/* btn */
.btn-theme {
  background: $secLinkColor;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: $mainLinkColor;
}
.btn-cta,.btn-cta.btn-lg {
  background: $mainLinkColor;
  border-color: $secLinkColor;
}

.btn-cta:focus,.btn-cta:active{
   border-color: $mainLinkColor;
}

/* contact */
.validation {
	color:$mainLinkColor;
}

/* footer */
.social-circle li a {
	background:$mainLinkColor;
}

a.scrollup{
	background:$mainLinkColor;
}

.product-price p{
	font-size: 24px;
	font-weight: bold;
	margin: 5px 0;
}

.products-items article img {width:100%;} 
.products-item {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.products-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.products-item .products-desc {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
	left: 0;
	top: 0;
	color: rgb(220, 220, 220);
}

.products-item .products-desc{
 	background: $mainLinkColor;
}

.products-item:hover .products-desc {
	padding-top: 20%;
	height: 100%;
    transition: all 200ms ease-in-out 0s;
	opacity: 1;
}

.products-item .products-desc a {
	color: #fff;
}
.products-item .products-desc a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.products-item .products-desc .product-info {
	top:-20px;
	padding: 30px;
	height: 0;
    opacity: 0;
    position: relative;
}

.products-item:hover .product-info{
	height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
	top:5px;
}

.products-item .products-desc .product-info h5 {
	text-transform: uppercase;
}
.products-item .products-desc .product-info p {
	color: #ffffff;
	font-size: 12px;
}

.prod-add{
	margin-top: 10px;
	font-size: 1.4em;
	.fa-shopping-cart{
		padding-right: 10px;
	}
	&:hover{
		background-color: darken($secLinkColor, 10%);
	}
}
