<% provide(:title, "The Shop") %>
<section id="section-shop" class="section appear clearfix">
	<div class="container">
		<div class="row mar-bot20">
			<ul class="product-list col-md-offset-2 col-md-8">	
				<% @products.each do |product| %>
					<%= render partial: "product", locals: {product: product} %>
				<% end %>
			</ul>
		</div>
	</div>
</section>